<h1>User Profile</h1>
<%= render 'user_header' %>
<hr>
<% unless @mission_statement.nil? %>
  <h2>Mission Statement</h2>
  <%= render @mission_statement %>
<% end %>

<% unless @posts.empty? %>
  <h2>Public Posts</h2>
  <%= will_paginate @posts %>
  <%= render @posts %>
  <%= will_paginate @posts %>
<% end %>