<% provide(:title, "Log in") %>

<div class="col-xl-5 col-lg-6 col-md-8 col-sm-10 mx-auto text-center form p-3">
  <h1 class="display-4 py-2 text-truncate">Log in</h1>
  <div class="px-2">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),
                  html: {class: "justify-content-center"}) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "sr-only" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", 
                          class: "form-control", placeholder: "Email" %>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "sr-only" %>
        <%= f.password_field :password, autocomplete: "current-password",
                              class: "form-control", placeholder: "Password" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-group text-left">
          <%= f.check_box :remember_me, class: "checkbox" %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <%= f.submit "Log in", class: "btn btn-primary btn-block" %>
    <% end %>

    <div class="py-2">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
    