<%= link_to "New Post", new_post_path, class: "btn btn-sm btn-primary" %>
<hr>
<% unless @posts.empty? %>
  <h2><%= "Your Post".pluralize(@posts.count) %></h2>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <p style="white-space: pre-line;"><%= post.content %></p>
        <p>Created on: <%= post.created_at.strftime('%b %d, %y at %H:%M:%S') %></p>
        <%= link_to 'edit', edit_post_path(post), class: "btn-sm btn-outline-warning" %>
        <%= link_to 'delete', post, method: :delete,
                                  data:   { confirm: "You sure?" },
                                  class: "btn-sm btn-outline-danger" %>
        <hr width="30%">
      </li>
    <% end %>
  </ul>

<% else %>
  <p>Create your first Post.</p>  
<% end %>
